.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  height: 45px;
  border-bottom: 1px solid lightgray;
  margin-bottom: -1px;
}

.header .logo {
  padding-bottom: 0.2%;
  width: 107px;
  height: 100%;
}

.header .mars-img {
  width: 60px;
  height: 100%;
}

.header img {
  height: 100%;
}